*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
spotify-app-remote-release-0.6.1/
spotify-auth-release-1.1.0/
TuneShareServer/env*
*credentials.py
*__pycache__
*.cache-*
*.vscode/
*geckodriver.log
*~